ion-content{

    --ion-background-color: lightgray;
    margin-bottom: 50%;
    font-family: Cambria;
}

ion-button {
    width: 80%;
    padding-left: 20%;
}

h5 {
    text-align: center;
    color: blue;
    font-weight: bolder;
}