<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>forget-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <h5>Veuillez fournir votre e-mail</h5>
    <ion-item lines="full"><br><br>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item><br><br>
    <ion-button type="submit" expand="block" shape="round" (click)="show()">Envoyer</ion-button>
  </form>
</ion-content>
