<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>resert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>Rénitialiser votre mot de passe</h5>
  <form #pass="ngForm" (ngSubmit)="updatePass(pass)">
    <ion-item>
      <ion-label position="floating">Ancien mot de passe</ion-label>
      <ion-input type="password" required ngModel name="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nouveau mot de passe</ion-label>
      <ion-input type="password" required ngModel name="new_pass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmer Nouveau mot de passe</ion-label>
      <ion-input type="password" required ngModel name="conf_new"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" shape="round" color="success">Valider</ion-button>
  </form>
</ion-content>
