ion-content{

    --ion-background-color: lightgray;
    font-family: Cambria;
}

h5 {
    text-align: center;
    font-weight: bolder;
    color: royalblue;
}

ion-button {
    width: 80%;
    padding-left: 20%;
}